.heading {
	font-size: 64px;
	text-align: center!important;
	display: inline-block;
	float: left;
	/*margin-left: 250px;*/
	padding-top: 20px;
	font-weight: 700;
	margin-left: 25px;
}

.logo {
	float: left;
	display: inline-block;
	text-align: center;
}

label {
	font-weight: 500;
}

#sticky-footer {
  flex-shrink: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}